.dashboard{
    font-family: 'Times New Roman', Times, serif;
    
}
.Dash{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: large;
}
.Button{
    border: 2px solig black;
}
.Dashlog{
    font-size: xx-large;
    color: black;
}
.Dashreg{
    font-size: xx-large;
    color: black;
}